* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --second-color: #152427;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  /* font-family: "Public Sans", sans-serif; */
}

/* ====Common==== */
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 173px;
  height: 57px;
  line-height: 55px;
  border-radius: 40px;
  text-align: center;
  background: var(--primary-color);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section-heading {
  position: relative;
  margin-top: 20px;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
  color: var(--second-color);
}

.section-title {
  position: relative;
  padding-left: 46px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.63; /* 162.5% */
  color: var(--second-color);
}

.section-title::before {
  position: absolute;
  left: 0;
  top: 13px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background: var(--second-color);
}

.lineclamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 4);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.word-break {
  word-break: break-all;
}

/* =====Header===== */
.header {
  padding: 28px 0;
  font-family: "Public Sans";
}

.header.fixed {
  position: sticky;
  top: -20px;
  padding-bottom: 8px;
  z-index: 999;
  background: #fff;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  column-gap: 38px;
  margin-left: auto;
  margin-right: 88px;
}

.header__list-link {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  color: #575d5e;
}

.header__active {
  color: var(--second-color);
}

.header__list-link:hover {
  color: var(--second-color);
}

/* =====Hero===== */
.hero {
  padding: 5px 0 88px;
}

.hero-separate {
  position: relative;
}

.hero-separate__line--long {
  width: 1140px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

.hero-separate__line--short {
  position: absolute;
  top: 0;
  left: 559px;
  width: 16px;
  height: 2px;
  background: var(--primary-color);
}

.hero__inner {
  display: flex;
  align-items: center;
  gap: 76px;
}

/* Hero title */
.hero__title {
  width: 35.47%;
}

.hero__heading {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2; /* 120% */
  color: var(--second-color);
}
.hero__desc {
  margin: 20px 0;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56; /* 155.556% */
  color: #575d5e;
}

/* Hero Cta */
.hero__cta {
  display: flex;
  align-items: center;
  gap: 36px;
}

.hero-watch {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero-watch__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 43px;
  border-radius: 50%;
  background: #83a17d;
}

.hero-watch__btn::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border-radius: 50%;
  border: 4px solid var(--second-color);
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}

.hero-watch:hover {
  cursor: pointer;
}

.hero-watch:hover .hero-watch__btn::before {
  transform: rotate(225deg);
}

.hero-watch-desc {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  color: var(--second-color);
}

/* Images */
.hero__images {
  position: relative;
  margin-top: 60px;
  width: 56.67%;
  height: 543px;
}

.hero__img {
  position: absolute;
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
  background: lightgray 50% / cover no-repeat;
}

.hero__img:first-child {
  top: 0;
  left: 0;
}

.hero__img:nth-child(2) {
  left: 222px;
  bottom: 0;
}

.hero__img:last-child {
  top: 0;
  right: 0;
}

/* Circle */
.hero-decor {
  position: relative;
}

.hero-decor__cicrle {
  position: absolute;
  top: 182px;
  left: 625px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #4dbb9a;
  filter: blur(137px);
  z-index: -1;
}

.hero-decor__vector-01 {
  position: absolute;
  top: 28px;
  left: 297px;
  z-index: 1;
}

.hero-decor__vector-02 {
  position: absolute;
  top: 289px;
  left: 500px;
  transform: rotate(175.95deg);
  z-index: 1;
}

/* =====HyperLink===== */
.hyperlink {
  margin-top: 43px;
}

.hyperlink-logo__google {
  font-size: 3.1rem;
  font-weight: 500;
  color: var(--Primary-color-black-green, #143c3c);
}

.hyperlink-logo__riotinto {
  font-family: "Sonsie One", system-ui;
  font-size: 2.3rem;
  color: var(--Primary-color-black-green, #143c3c);
}

.hyperlink-logo__heroku {
  margin-left: 14px;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1.995px;
  color: var(--Primary-color-black-green, #143c3c);
}

.hyperlink-logo__flex {
  display: flex;
  align-items: center;
}

.hyperlink-logo__flex-slack {
  color: var(--Primary-color-black-green, #143c3c);
  font-size: 3.2rem;
  font-weight: 600;
}

.hyperlink-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 78px 121px;
  border-radius: 100.5px;
  background: #e2eddf;
}

/* ====Services==== */
.services {
  margin-top: 53px;
  padding: 53px 0 49px;
}

/* Service title */
.services__title {
  display: flex;
}

.services__heading {
  margin-top: 12px;
  width: 520px;
}

.services__heading::after {
  position: absolute;
  left: 351px;
  bottom: 19px;
  display: inline-block;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--second-color);
}

.services-row {
  margin: 70px 0 0 422px;
  display: flex;
  align-items: center;
  gap: 17px;
}

.services-row__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  color: var(--second-color);
  background: #e2eddf;
  outline: none;
  border: none;
  transition: 0.25s;
}

.services-row__btn:hover {
  background: var(--primary-color);
  cursor: pointer;
  color: #fff;
}

/* Service list */
.services__list {
  margin-top: 76px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - 31px) / 3);
  column-gap: 16px;
  overflow: hidden;
}

.services__item {
  transition: 0.25s;
  background: #fff;
}

.services__item:hover {
  border-radius: 20px;
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__image {
  width: 100%;
  height: 318px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.services__content {
  padding: 24px 18px;
}

.services__head a {
  --line-clamp: 1;

  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3; /* 100% */
  color: var(--second-color);
}

.services__desc {
  margin-top: 18px;
  width: 268px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
  color: var(--text-color-light-gray, #7d8188);
}

/* ====About==== */
.about {
  padding: 70px 0 100px;
}

/* Icon */
.about__separate {
  position: relative;
}

.about__separate-icon {
  position: absolute;
  top: 0;
  left: 13.23px;
  transform: rotate(12.645deg);
  z-index: 1;
}

/* About inner */
.about__inner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 64px;
}

.about__image {
  position: relative;
  width: 591px;
  height: 555px;
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
}

.about__img {
  position: absolute;
  width: 286px;
  height: 480px;
  border-radius: 210px;
  object-fit: cover;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
  left: 0;
  bottom: 0;
}

.about__img:last-child {
  top: 0;
  right: 0;
}

.about__content-desc {
  margin-top: 11px;
  width: 478px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.63; /* 162.5% */
  color: var(--text-color-light-gray, #7d8188);
}

.about-data {
  margin-top: 36px;
  border-bottom: 1px solid #83a17d;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-data__num {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
  color: var(--Primary-color-black, #152427);
}

.about-data__desc {
  width: 364px;
  color: var(--text-color-light-gray, #7d8188);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
}

/* About design */
.about-design {
  position: absolute;
  top: 418px;
  left: 457px;
  padding: 19px 23px 12px;
  width: 143px;
  height: 144px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
}

.about-design__heading {
  font-family: "Public Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: var(--Primary-color-black, #152427);
}

.about-design__desc,
.about-design__num,
.about-design__loading,
.about-design__tilte {
  margin-top: 6px;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.4; /* 140% */
  color: var(--text-color-black-gray, #575d5e);
}

.about-design__num {
  margin: 10px 0 3px;
  font-weight: 500;
  color: var(--second-color);
}

.about-design__load--short {
  position: absolute;
  top: 80px;
  left: 23px;
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
  z-index: 1;
}

.about-design__load--long {
  position: absolute;
  top: 80px;
  left: 24px;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}

.about-design__loading {
  margin-top: 8px;
  text-align: end;
  font-weight: 500;
  color: var(--second-color);
}

.about-design__icon {
  display: block;
  margin: 3px 0 4px;
}

.about-design__team {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-design__human {
  display: flex;
  align-items: center;
}

.about-design__tilte {
  margin-top: 0;
  font-weight: 500;
  color: var(--second-color);
}

.about-design__img {
  margin-left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff;
  background: lightgray 50% / cover no-repeat;
}

/* ====Process==== */
.process {
  padding: 36px 0 74px;
}

.process__heading {
  position: relative;
  width: 477px;
}

.process__heading::after {
  position: absolute;
  top: 84px;
  right: -9px;
  display: inline-block;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--second-color);
}

/* Process-item */
.process-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 81px;
  padding: 57px 30px 54px;
  border-radius: 33px;
  transition: 0.25s;
  background-color: transparent;
}

.process-item::before {
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
  display: inline-block;
  content: "";
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
  transition: 0.25s;
}

.process-item:hover {
  background: var(--Scondery-color-light-green, #e2eddf);
}

.process-item:hover::before {
  opacity: 0;
}

.process-item:hover .process-item__desc {
  visibility: hidden;
}

.process-item:hover .process-item__link {
  visibility: visible;
  text-decoration: underline;
}

.process-item:hover .process-item__img {
  visibility: visible;
}

.process-item:nth-of-type(2) {
  margin-top: 0;
}

.process-item:last-child {
  margin-top: 0;
}

.process-item__title {
  display: flex;
  align-items: center;
}

.process-item__num {
  margin-right: 64px;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 0.72; /* 72.222% */
  color: var(--primary-color);
}

.process-item:nth-of-type(2) .process-item__num {
  margin-right: 48px;
}

.process-item:nth-of-type(3) .process-item__num {
  margin-right: 47px;
}

.process-item__heading {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: var(--second-color);
}

.process-item__link {
  visibility: hidden;
  margin: 7px 0 0 159px;
  font-size: 1.8rem;
  line-height: 1; /* 100% */
  color: var(--text-color-black-gray, #575d5e);
}

.process-item__img {
  position: absolute;
  bottom: 0;
  visibility: hidden;
  left: 598px;
  width: 450px;
  height: 444px;
  object-fit: cover;
}

.process-item__desc {
  width: 572px;
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  color: var(--text-color-light-gray, #7d8188);
}

.process-item:nth-of-type(1) .process-item__desc {
  margin-left: 208px;
}

.process-item:nth-of-type(2) .process-item__desc {
  margin-left: 166px;
}

.process-item:nth-of-type(3) .process-item__desc {
  margin-left: 233px;
}

/* ====Video==== */
.video {
  margin-top: 74px;
  padding: 116px 0 63px;
  background: var(--Primary-color-black-green, #143c3c);
}

.video__inner {
  position: relative;
}

.video__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video__heading {
  margin-top: 0;
  width: 457px;
  color: #e7f9f9;
}

.video-desc {
  width: 590px;
}

.video-desc__description {
  width: 520px;
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56; /* 155.556% */
  color: var(--Scondery-color-gray, #6a8383);
}

.video-desc__cta {
  display: flex;
  align-items: center;
  margin-top: 4px;
  padding: 9px 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56; /* 155.556% */
  color: #fff;
}

.video-desc__img {
  margin-left: 24px;
}

.video__container {
  margin-top: 65px;
}

.video__container-clip {
  display: block;
  width: 1140px;
  height: 544px;
  border-radius: 22px;
  object-fit: cover;
  margin: 0 auto;
  background: lightgray 50% / cover no-repeat;
}

.video__icon-vector {
  position: absolute;
  right: -152px;
  top: 47px;
  width: 542px;
  height: 361px;
  z-index: 1;
}

.video__icon-union {
  position: absolute;
  top: 100px;
  right: -52px;
  transform: rotate(176.985deg);
}
