* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --second-color: #152427;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  /* font-family: "Public Sans", sans-serif; */
}

/* ====Common==== */
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 173px;
  height: 57px;
  line-height: 55px;
  border-radius: 40px;
  text-align: center;
  background: var(--primary-color);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section-heading {
  position: relative;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
  color: var(--second-color);
}

.section-title {
  position: relative;
  padding-left: 46px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.63; /* 162.5% */
  color: var(--second-color);
}

.section-title::before {
  position: absolute;
  left: 0;
  top: 9px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background: var(--second-color);
}

.lineclamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 4);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.word-break {
  word-break: break-all;
}

/* =====Header===== */
.header {
  padding: 28px 0;
  font-family: "Public Sans";
}

.header.fixed {
  position: sticky;
  top: -20px;
  padding-bottom: 8px;
  z-index: 999;
  background: #fff;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  column-gap: 38px;
  margin-left: auto;
  margin-right: 88px;
}

.header__list-link {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  color: #575d5e;
}

.header__active {
  color: var(--second-color);
}

.header__list-link:hover {
  color: var(--second-color);
}

/* =====Hero===== */
.hero {
  padding: 5px 0 88px;
}

.hero-separate {
  position: relative;
}

.hero-separate__line--long {
  width: 1140px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

.hero-separate__line--short {
  position: absolute;
  top: 0;
  left: 559px;
  width: 16px;
  height: 2px;
  background: var(--primary-color);
}

.hero__inner {
  display: flex;
  align-items: center;
  gap: 76px;
}

/* Hero title */
.hero__title {
  width: 35.47%;
}

.hero__heading {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2; /* 120% */
  color: var(--second-color);
}
.hero__desc {
  margin: 20px 0;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56; /* 155.556% */
  color: #575d5e;
}

/* Hero Cta */
.hero__cta {
  display: flex;
  align-items: center;
  gap: 36px;
}

.hero-watch {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero-watch__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 43px;
  border-radius: 50%;
  background: #83a17d;
}

.hero-watch__btn::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border-radius: 50%;
  border: 4px solid var(--second-color);
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}

.hero-watch:hover {
  cursor: pointer;
}

.hero-watch:hover .hero-watch__btn::before {
  transform: rotate(225deg);
}

.hero-watch-desc {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  color: var(--second-color);
}

/* Images */
.hero__images {
  position: relative;
  margin-top: 60px;
  width: 56.67%;
  height: 543px;
}

.hero__img {
  position: absolute;
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}

.hero__img:first-child {
  top: 0;
  left: 0;
}

.hero__img:nth-child(2) {
  left: 222px;
  bottom: 0;
}

.hero__img:last-child {
  top: 0;
  right: 0;
}

/* Circle */
.hero-decor {
  position: relative;
}

.hero-decor__cicrle {
  position: absolute;
  top: 182px;
  left: 625px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #4dbb9a;
  filter: blur(137px);
  z-index: -1;
}

.hero-decor__vector-01 {
  position: absolute;
  top: 28px;
  left: 297px;
  z-index: 1;
}

.hero-decor__vector-02 {
  position: absolute;
  top: 289px;
  left: 500px;
  transform: rotate(175.95deg);
  z-index: 1;
}

/* =====HyperLink===== */
.hyperlink {
  margin-top: 43px;
}

.hyperlink-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 78px 121px;
  border-radius: 100.5px;
  background: #e2eddf;
}

/* ====Services==== */
.services {
  margin-top: 53px;
  padding: 53px 0 79px;
}

/* Service title */
.services__title {
  display: flex;
}

.services__heading {
  margin-top: 12px;
  width: 520px;
}

.services__heading::after {
  position: absolute;
  left: 351px;
  bottom: 19px;
  display: inline-block;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--second-color);
}

.services-row {
  margin: 70px 0 0 422px;
  display: flex;
  align-items: center;
  gap: 17px;
}

.services-row__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  color: var(--second-color);
  background: #e2eddf;
  outline: none;
  border: none;
  transition: 0.25s;
}

.services-row__btn:hover {
  background: var(--primary-color);
  cursor: pointer;
  color: #fff;
}

/* Service list */
.services__list {
  margin-top: 76px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - 31px) / 3);
  column-gap: 16px;
  overflow: hidden;
}

.services__item {
  transition: 0.25s;
  background: #fff;
}

.services__item:hover {
  border-radius: 20px;
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__image {
  width: 100%;
  height: 318px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.services__content {
  padding: 24px 18px;
}

.services__head a {
  --line-clamp: 1;

  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3; /* 100% */
  color: var(--second-color);
}

.services__desc {
  margin-top: 18px;
  width: 268px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
  color: #7d8188;
}
